@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply p-6 bg-gray-100;
}

.App {
  font-family: 'Inter';
  max-width: 900px;
  @apply p-6 mx-auto bg-white rounded-md;
}

hr {
  @apply my-4;
}

@media print {
  body {
    padding: 0;
  }
  .list {
    page-break-inside: avoid;
  }

  .btn-download-cv {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-bottom: 45px;
  }

  b {
    display: block;
  }

  .btn-download-cv {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
  }
}